// =-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=- //
// Mise en page générale
// =-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=- //

body:not([data-xal-page-fullheight]) {
  padding-top: var(--xal-navbar-height);
}

// =-=-=-=-=-=-
// Barre de navigation
// =-=-=-=-=-=-

.xal-main-navbar {
  height: var(--xal-navbar-height);
  z-index: 1030;

  .btn {
    transition: transform .2s ease, box-shadow .2s ease, background-color .2s ease;
  }

  .btn:hover {
    transform: translateY(-2px);
    box-shadow: 0 4px 10px rgba(0, 0, 0,.08);
  }

  .navbar-nav button[data-bs-toggle="dropdown"][aria-expanded="true"] .bi-chevron-down {
    transform: rotate(180deg);
  }

  .navbar-nav button[data-bs-toggle="dropdown"] .bi-chevron-down {
    transition: all .3s ease;
  }

  // =-=-=-=-=-=-
  // Centre de notifications : nombre de notifications
  // =-=-=-=-=-=-

  .xal-notification-indicator {
    display: none;
  }

  @include media-breakpoint-up(md) {
    .xal-notification-indicator {
      display: inline-block;
    }
  }
}

// =-=-=-=-=-=-
// Layout de l'application
// =-=-=-=-=-=-

.xal-application-layout {
  display: flex;
  min-height: calc(100vh - var(--xal-navbar-height));

  &.xal-application-layout--sidebar-collapsed {
    --xal-sidebar-width: var(--xal-sidebar-width-collapsed);
  }
}

.xal-main-content {
  flex: 1 1 0;
  min-width: 0;
  overflow-y: auto;

  // En dessous de md : pas de décalage, la sidebar est en offcanvas
  @include media-breakpoint-up(md) {
      margin-left: var(--xal-sidebar-width);
      transition: margin-left .25s ease;
  }
}