// =-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=- //
// Barre latérale
// =-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=- //

.xal-sidebar {
    position: fixed;
    overflow-y: auto;
    overflow-x: hidden;
    font-size: .9rem;
    width: var(--xal-sidebar-width);
    height: calc(100vh - var(--xal-navbar-height));

    @include media-breakpoint-up(md) {
        display: flex;
        flex-direction: column;
    }

    .offcanvas-header {
        flex-shrink: 0;
        padding: .75rem 1rem;
    }

    .offcanvas-body {
        display: flex;
        flex-direction: column;
        flex: 1 1 auto;
        padding: 0;
        overflow: hidden;
    }

    .sidebar-nav {
        flex: 1 1 auto;
        overflow-y: auto;
        overflow-x: hidden;
    }

    .nav-link {
        border-radius: 0;
        padding-left: .75rem;
        padding-right: .75rem;
    }

    .nav-link[data-bs-target][aria-expanded="true"] .bi-chevron-down {
        transform: rotate(180deg);
    }

    .nav-link[data-bs-target] .bi-chevron-down {
        margin-left: auto;
        transition: transform .3s ease;
    }

    .nav-submenu .nav-link {
        font-size: .875rem;
        padding-left: 2rem;
    }
}

.xal-sidebar__footer {
    flex-shrink: 0;
    font-size: 0.875em;
    text-align: center;
    padding-top: .5rem;
    padding-bottom: .5rem;
}