:root {
  // Couleur principale Xalise
  --xalise-color:     #{$xalise-color};
  --xalise-color-rgb: #{$xalise-color-rgb};

  // Dimensions structurelles
  --xal-navbar-height:             3.25rem;
  --xal-notification-center-width: 420px;
}