// =-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=- //
// Thème personnalisé Xalise
// =-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=- //

[data-bs-theme="xalise"] {
  --bs-primary: var(--xalise-color);
  --bs-primary-rgb: var(--xalise-color-rgb);

  // =-=-=-=-=-=-
  // Barre de navigation
  // =-=-=-=-=-=-
  
  .navbar {
    .navbar-brand {
      padding-top: .75rem;
      padding-bottom: .75rem;
    }
    
    .btn-outline-secondary {
      border: none;
      margin-left: 0.5rem;
      color: var(--bs-white);
      background-color: color-mix(in srgb, var(--bs-primary) 85%, var(--bs-black));

      &:hover {
        background-color: color-mix(in srgb, var(--bs-primary) 70%, var(--bs-black));
      }

      .badge {
        font-weight: 500;
        font-size: 0.6rem;
        margin-left: 0.1rem;
        padding: 0.35rem 0.45rem;
      }
    }
  }

  // =-=-=-=-=-=-
  // Menu déroulant
  // =-=-=-=-=-=-

  .dropdown-menu {
    --bs-dropdown-bg: var(--bs-primary);
    --bs-dropdown-link-color: var(--bs-white);
    --bs-dropdown-link-hover-color: var(--bs-white);
    --bs-dropdown-link-active-color: var(--bs-white);
    --bs-dropdown-link-hover-bg: color-mix(in srgb, var(--bs-primary) 70%, var(--bs-black));
    --bs-dropdown-link-active-bg: color-mix(in srgb, var(--bs-primary) 55%, var(--bs-black));
    --bs-dropdown-link-disabled-color: rgba(var(--bs-white-rgb), 0.5);
    --bs-dropdown-header-color: var(--bs-white);
    --bs-dropdown-header-padding-y: 0;
  }

  // =-=-=-=-=-=-
  // Barre latérale
  // =-=-=-=-=-=-

  .xal-sidebar {
    border-right: 1px solid color-mix(in srgb, var(--bs-primary) 25%, white);
    background-color: color-mix(in srgb, var(--bs-primary) 12.5%, white) !important;

    .offcanvas-header {
      background-color: color-mix(in srgb, var(--bs-primary) 12.5%, white);
      border-bottom: 1px solid color-mix(in srgb, var(--bs-primary) 25%, white);
    }

    .nav-link {
      color: var(--bs-primary);

      &:hover,
      &[data-bs-target][aria-expanded="true"]:not(.active) {
          color: var(--bs-primary);
          background-color: color-mix(in srgb, var(--bs-primary) 20%, white);
      }

      &.active {
        font-weight: 600;
        color: var(--bs-white);
        background-color: color-mix(in srgb, var(--bs-primary) 80%, white);
      }
    }

    .xal-sidebar__submenu {
      background-color: color-mix(in srgb, var(--bs-primary) 7.5%, white);
    }

    .xal-sidebar__submenu .nav-link.active {
      background-color: color-mix(in srgb, var(--bs-primary) 60%, white);
    }
  }

  .xal-sidebar__footer {
    border-top: 1px solid color-mix(in srgb, var(--bs-primary) 25%, white);
  }
}