:root {
  // Couleur primaire initiale de bootstrap
  --bs-primary-default: #0d6efd;

  // Couleur principale Xalise
  --xalise-color:     #{$xalise-color};
  --xalise-color-rgb: #{$xalise-color-rgb};

  // Dimensions structurelles
  --xal-navbar-height:              3.25rem;
  --xal-notification-center-width:  420px;
  --xal-sidebar-width:              15rem;
  --xal-sidebar-width-collapsed:    5rem;
}