html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

/*#region Classes génériques pour la taille des éléments (de 1% à 100%)*/

.x-ui-pourc-1 { width: 1%; }
.x-ui-pourc-2 { width: 2%; }
.x-ui-pourc-3 { width: 3%; }
.x-ui-pourc-4 { width: 4%; }
.x-ui-pourc-5 { width: 5%; }
.x-ui-pourc-6 { width: 6%; }
.x-ui-pourc-7 { width: 7%; }
.x-ui-pourc-8 { width: 8%; }
.x-ui-pourc-9 { width: 9%; }
.x-ui-pourc-10 { width: 10%; }
.x-ui-pourc-11 { width: 11%; }
.x-ui-pourc-12 { width: 12%; }
.x-ui-pourc-13 { width: 13%; }
.x-ui-pourc-14 { width: 14%; }
.x-ui-pourc-15 { width: 15%; }
.x-ui-pourc-16 { width: 16%; }
.x-ui-pourc-17 { width: 17%; }
.x-ui-pourc-18 { width: 18%; }
.x-ui-pourc-19 { width: 19%; }
.x-ui-pourc-20 { width: 20%; }
.x-ui-pourc-21 { width: 21%; }
.x-ui-pourc-22 { width: 22%; }
.x-ui-pourc-23 { width: 23%; }
.x-ui-pourc-24 { width: 24%; }
.x-ui-pourc-25 { width: 25%; }
.x-ui-pourc-26 { width: 26%; }
.x-ui-pourc-27 { width: 27%; }
.x-ui-pourc-28 { width: 28%; }
.x-ui-pourc-29 { width: 29%; }
.x-ui-pourc-30 { width: 30%; }
.x-ui-pourc-31 { width: 31%; }
.x-ui-pourc-32 { width: 32%; }
.x-ui-pourc-33 { width: 33%; }
.x-ui-pourc-34 { width: 34%; }
.x-ui-pourc-35 { width: 35%; }
.x-ui-pourc-36 { width: 36%; }
.x-ui-pourc-37 { width: 37%; }
.x-ui-pourc-38 { width: 38%; }
.x-ui-pourc-39 { width: 39%; }
.x-ui-pourc-40 { width: 40%; }
.x-ui-pourc-41 { width: 41%; }
.x-ui-pourc-42 { width: 42%; }
.x-ui-pourc-43 { width: 43%; }
.x-ui-pourc-44 { width: 44%; }
.x-ui-pourc-45 { width: 45%; }
.x-ui-pourc-46 { width: 46%; }
.x-ui-pourc-47 { width: 47%; }
.x-ui-pourc-48 { width: 48%; }
.x-ui-pourc-49 { width: 49%; }
.x-ui-pourc-50 { width: 50%; }
.x-ui-pourc-51 { width: 51%; }
.x-ui-pourc-52 { width: 52%; }
.x-ui-pourc-53 { width: 53%; }
.x-ui-pourc-54 { width: 54%; }
.x-ui-pourc-55 { width: 55%; }
.x-ui-pourc-56 { width: 56%; }
.x-ui-pourc-57 { width: 57%; }
.x-ui-pourc-58 { width: 58%; }
.x-ui-pourc-59 { width: 59%; }
.x-ui-pourc-60 { width: 60%; }
.x-ui-pourc-61 { width: 61%; }
.x-ui-pourc-62 { width: 62%; }
.x-ui-pourc-63 { width: 63%; }
.x-ui-pourc-64 { width: 64%; }
.x-ui-pourc-65 { width: 65%; }
.x-ui-pourc-66 { width: 66%; }
.x-ui-pourc-67 { width: 67%; }
.x-ui-pourc-68 { width: 68%; }
.x-ui-pourc-69 { width: 69%; }
.x-ui-pourc-70 { width: 70%; }
.x-ui-pourc-71 { width: 71%; }
.x-ui-pourc-72 { width: 72%; }
.x-ui-pourc-73 { width: 73%; }
.x-ui-pourc-74 { width: 74%; }
.x-ui-pourc-75 { width: 75%; }
.x-ui-pourc-76 { width: 76%; }
.x-ui-pourc-77 { width: 77%; }
.x-ui-pourc-78 { width: 78%; }
.x-ui-pourc-79 { width: 79%; }
.x-ui-pourc-80 { width: 80%; }
.x-ui-pourc-81 { width: 81%; }
.x-ui-pourc-82 { width: 82%; }
.x-ui-pourc-83 { width: 83%; }
.x-ui-pourc-84 { width: 84%; }
.x-ui-pourc-85 { width: 85%; }
.x-ui-pourc-86 { width: 86%; }
.x-ui-pourc-87 { width: 87%; }
.x-ui-pourc-88 { width: 88%; }
.x-ui-pourc-89 { width: 89%; }
.x-ui-pourc-90 { width: 90%; }
.x-ui-pourc-91 { width: 91%; }
.x-ui-pourc-92 { width: 92%; }
.x-ui-pourc-93 { width: 93%; }
.x-ui-pourc-94 { width: 94%; }
.x-ui-pourc-95 { width: 95%; }
.x-ui-pourc-96 { width: 96%; }
.x-ui-pourc-97 { width: 97%; }
.x-ui-pourc-98 { width: 98%; }
.x-ui-pourc-99 { width: 99%; }
.x-ui-pourc-100 { width: 100%; }

/*#endregion*/

/*#region Classes génériques pour la taille des éléments (de 1rem à 100rem)*/

.x-ui-rem-1 { width: 1rem; }
.x-ui-rem-2 { width: 2rem; }
.x-ui-rem-3 { width: 3rem; }
.x-ui-rem-4 { width: 4rem; }
.x-ui-rem-5 { width: 5rem; }
.x-ui-rem-6 { width: 6rem; }
.x-ui-rem-7 { width: 7rem; }
.x-ui-rem-8 { width: 8rem; }
.x-ui-rem-9 { width: 9rem; }
.x-ui-rem-10 { width: 10rem; }
.x-ui-rem-11 { width: 11rem; }
.x-ui-rem-12 { width: 12rem; }
.x-ui-rem-13 { width: 13rem; }
.x-ui-rem-14 { width: 14rem; }
.x-ui-rem-15 { width: 15rem; }
.x-ui-rem-16 { width: 16rem; }
.x-ui-rem-17 { width: 17rem; }
.x-ui-rem-18 { width: 18rem; }
.x-ui-rem-19 { width: 19rem; }
.x-ui-rem-20 { width: 20rem; }
.x-ui-rem-21 { width: 21rem; }
.x-ui-rem-22 { width: 22rem; }
.x-ui-rem-23 { width: 23rem; }
.x-ui-rem-24 { width: 24rem; }
.x-ui-rem-25 { width: 25rem; }
.x-ui-rem-26 { width: 26rem; }
.x-ui-rem-27 { width: 27rem; }
.x-ui-rem-28 { width: 28rem; }
.x-ui-rem-29 { width: 29rem; }
.x-ui-rem-30 { width: 30rem; }
.x-ui-rem-31 { width: 31rem; }
.x-ui-rem-32 { width: 32rem; }
.x-ui-rem-33 { width: 33rem; }
.x-ui-rem-34 { width: 34rem; }
.x-ui-rem-35 { width: 35rem; }
.x-ui-rem-36 { width: 36rem; }
.x-ui-rem-37 { width: 37rem; }
.x-ui-rem-38 { width: 38rem; }
.x-ui-rem-39 { width: 39rem; }
.x-ui-rem-40 { width: 40rem; }
.x-ui-rem-41 { width: 41rem; }
.x-ui-rem-42 { width: 42rem; }
.x-ui-rem-43 { width: 43rem; }
.x-ui-rem-44 { width: 44rem; }
.x-ui-rem-45 { width: 45rem; }
.x-ui-rem-46 { width: 46rem; }
.x-ui-rem-47 { width: 47rem; }
.x-ui-rem-48 { width: 48rem; }
.x-ui-rem-49 { width: 49rem; }
.x-ui-rem-50 { width: 50rem; }
.x-ui-rem-51 { width: 51rem; }
.x-ui-rem-52 { width: 52rem; }
.x-ui-rem-53 { width: 53rem; }
.x-ui-rem-54 { width: 54rem; }
.x-ui-rem-55 { width: 55rem; }
.x-ui-rem-56 { width: 56rem; }
.x-ui-rem-57 { width: 57rem; }
.x-ui-rem-58 { width: 58rem; }
.x-ui-rem-59 { width: 59rem; }
.x-ui-rem-60 { width: 60rem; }
.x-ui-rem-61 { width: 61rem; }
.x-ui-rem-62 { width: 62rem; }
.x-ui-rem-63 { width: 63rem; }
.x-ui-rem-64 { width: 64rem; }
.x-ui-rem-65 { width: 65rem; }
.x-ui-rem-66 { width: 66rem; }
.x-ui-rem-67 { width: 67rem; }
.x-ui-rem-68 { width: 68rem; }
.x-ui-rem-69 { width: 69rem; }
.x-ui-rem-70 { width: 70rem; }
.x-ui-rem-71 { width: 71rem; }
.x-ui-rem-72 { width: 72rem; }
.x-ui-rem-73 { width: 73rem; }
.x-ui-rem-74 { width: 74rem; }
.x-ui-rem-75 { width: 75rem; }
.x-ui-rem-76 { width: 76rem; }
.x-ui-rem-77 { width: 77rem; }
.x-ui-rem-78 { width: 78rem; }
.x-ui-rem-79 { width: 79rem; }
.x-ui-rem-80 { width: 80rem; }
.x-ui-rem-81 { width: 81rem; }
.x-ui-rem-82 { width: 82rem; }
.x-ui-rem-83 { width: 83rem; }
.x-ui-rem-84 { width: 84rem; }
.x-ui-rem-85 { width: 85rem; }
.x-ui-rem-86 { width: 86rem; }
.x-ui-rem-87 { width: 87rem; }
.x-ui-rem-88 { width: 88rem; }
.x-ui-rem-89 { width: 89rem; }
.x-ui-rem-90 { width: 90rem; }
.x-ui-rem-91 { width: 91rem; }
.x-ui-rem-92 { width: 92rem; }
.x-ui-rem-93 { width: 93rem; }
.x-ui-rem-94 { width: 94rem; }
.x-ui-rem-95 { width: 95rem; }
.x-ui-rem-96 { width: 96rem; }
.x-ui-rem-97 { width: 97rem; }
.x-ui-rem-98 { width: 98rem; }
.x-ui-rem-99 { width: 99rem; }
.x-ui-rem-100 { width: 100rem; }

/*#endregion*/


.x-block-project-indicators div:not(:first-child) {
    font-size: 0.9rem;
}