// =-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=- //
// Éléments d'authentification
// =-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=- //

.xal-auth__card {
    max-width: 65rem;
    border: 1px solid var(--bs-border-color-translucent);
    border-radius: var(--bs-border-radius-xl);
    background-color: var(--bs-body-bg);
    box-shadow: var(--bs-box-shadow-lg);
    overflow: hidden;
}

.xal-auth__form-container {
    width: 100%;
    max-width: 28rem;
}

@media (max-width: 991.98px) {
    .xal-auth__card {
        max-width: 35rem;
    }
}

// =-=-=-=-=-=-
// Page de connexion
// =-=-=-=-=-=-

.xal-auth__form-container {
    max-width: 28rem;
}

.xal-auth__logo {
    width: 4.5rem;
    height: 4.5rem;
}

// =-=-=-=-=-=-
// OTP
// =-=-=-=-=-=-

// Un seul message de feedback pour tous les champs du code OTP
.was-validated 
    .xal-otp-form__inputs:has(.xal-otp-form__digit:invalid)
    + .invalid-feedback {
    display: block;
}

.xal-otp__countdown-container {
    position: relative;
}

.xal-otp__countdown-progress {
    height: 1.25rem;
    --bs-progress-bg: var(--bs-border-color);
}

.xal-otp__countdown-timer {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 1;
    transform: translate(-50%, -50%);
    padding: 0;
    color: var(--bs-body-color);
    background-color: transparent;
    line-height: 1;
}

// Retrait des icônes de réussite/échec pour éviter que les chiffres soient tronqués
.xal-otp-form__digit.is-valid,
.was-validated .xal-otp-form__digit:valid,
.xal-otp-form__digit.is-invalid,
.was-validated .xal-otp-form__digit:invalid {
    background-image: none;
    padding-right: .75rem;
}