// =-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=- //
// Éléments d'authentification
// =-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=- //

// =-=-=-=-=-=-
// Page de connexion
// =-=-=-=-=-=-

.xal-login__form-container {
    max-width: 28rem;
}

.xal-login__logo {
    width: 4.5rem;
    height: 4.5rem;
}